#contact_modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(196, 196, 196, 0.4);
	overflow-y: scroll;
}
.photograph-header {
	background-color: #fafafa;
	height: 300px;
	margin: 0 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 50px;
}
.photograph-header div {
	width: auto;
	max-width: 300px;
}
.photograph-header h2 {
	color: #d3573c;
	font-size: 64px;
	margin: 0;
	font-weight: normal;
}
.photograph-header p {
	margin-bottom: 0;
}
.photograph-header p.locality {
	color: #901c1c;
	font-size: 24px;
	margin-top: 0;
}
.photograph-header p.tagline {
	color: #525252;
	font-size: 18px;
	margin-top: 20px;
}
.contact_button {
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 11px;
	width: 170px;
	height: 70px;
	border: none;
	background-color: #901c1c;
	border-radius: 5px;
	cursor: pointer;
}

.modal {
	border-radius: 5px;
	background-color: #db8876;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	height: 900px;
	margin: 50px auto;
	position: relative;
}

.modal header {
	justify-content: space-between;
	width: 100%;
}
.modal header div h2 {
	font-size: 64px;
	font-weight: normal;
	margin: 0;
}
.modal header div h2#namePhotographer {
	font-size: 52px;
}
.modal header img {
	cursor: pointer;
	align-self: flex-start;
}

form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
}

form label {
	color: #312e2e;
	font-size: 36px;
}

form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: self-start;
}

form input {
	width: 100%;
	height: 68px;
	border: none;
	border-radius: 5px;
}
form textarea {
	resize: none;
	width: 100%;
	height: 170px;
	border-radius: 5px;
	border: none;
}
.formData {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.formData[data-error]::after {
	content: attr(data-error);
	font-size: 1em;
	font-weight: bold;
	color: #e54858;
	display: block;
	margin-top: 10px;
	margin-bottom: 2px;
	text-align: right;
	line-height: 0.3;
	opacity: 0;
	transition: 0.3s;
	align-self: flex-end;
}
.formData[data-error-visible='true']::after {
	opacity: 1;
}
.formData[data-error-visible='true'] .input {
	border: 2px solid #e54858;
}
.confirm-message {
	height: 700px;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
main section.medias {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 100px;
}
main section.medias article.mediaCard {
	width: 350px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
main section.medias article.mediaCard p {
	font-size: 24px;
	color: #901c1c;
	font-weight: normal;
}
